{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header style="text-align:left;border-bottom:1px solid #ddd;position:relative;padding:10px 0; color #fff;background:#020031;">{% include header.html %}</header>

  <div class="header navbar navbar-default">{% include navigation.html %}</div>

  <div class="container min-height">
    <div class="row">
      {{ content | expand_urls: root_url }}
    </div>
  </div>

  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
