<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>
        <span class="margin-right-10">{{ site.time | date: "%Y" }} - {{ site.author }} ALL Rights Reserved.</span> 
        </p>
      </div>
      <div class="col-md-4">
        <ul class="social-footer">
          <li><a href="https://twitter.com/friparia"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/friparia"><i class="fa fa-github"></i></a></li>
        </ul>                
      </div>
    </div>
  </div>
</div>
